source https://api.nuget.org/v3/index.json

storage: none
framework: net7.0

nuget Microsoft.Extensions.Logging 
nuget BenchmarkDotNet 
nuget Microsoft.EntityFrameworkCore.Design
nuget ClrHeapAllocationAnalyzer 
nuget Microsoft.EntityFrameworkCore.Sqlite
nuget Newtonsoft.Json
nuget System.Text.Json
nuget System.Net.Http.Json
nuget LanguageExt.Core
nuget OneOf
nuget OneOf.SourceGenerator
nuget Swashbuckle.AspNetCore